/*Reset*/
html, body, div, h2, font, img, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ul {
  list-style: none; }

/*Reset*/
body {
  background: url("My_img/back.jpg"); }

.menu {
  position: relative;
  z-index: 80;
  top: 1.875em;
  left: 3.125em; }
  .menu ul li {
    -webkit-transform: rotate(-45deg);
    /*Safari*/
    -moz-transform: rotate(-45deg);
    /*Mozilla*/
    -ms-transform: rotate(-45deg);
    /*IE9 and above*/
    -o-transform: rotate(-45deg);
    /*Opera*/
    transform: rotate(-45deg);
    overflow: visible;
    float: left;
    background: #7f9db9;
    text-align: right;
    margin: 0.625em 0em;
    padding: 0.3125em 0.3125em 0.3125em 1.125em;
    width: 6.25em; }
    .menu ul li.l1 {
      background: rgba(131, 178, 51, 0.65); }
      .menu ul li.l1:hover {
        background: #83b233; }
    .menu ul li a {
      display: block;
      color: #fff;
      text-decoration: none; }
    .menu ul li.l2 {
      background: rgba(196, 89, 30, 0.65); }
      .menu ul li.l2:hover {
        background: #c4591e; }
    .menu ul li.l3 {
      background: rgba(65, 117, 160, 0.65); }
      .menu ul li.l3:hover {
        background: #4175a0; }

.bubble {
  clear: both;
  margin: 0px auto;
  width: auto;
  background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 90;
  /* the stack order: displayed under ribbon rectangle (100) */
  top: 30px;
  height: auto; }

.rectangle {
  background: #7f9db9;
  height: 50px;
  width: 103%;
  position: relative;
  left: -15px;
  top: 30px;
  float: left;
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  z-index: 100;
  /* the stack order: foreground */ }
  .rectangle h2 {
    font-size: 30px;
    color: #fff;
    padding-top: 6px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center; }

.triangle-l {
  border-color: transparent #7d90a3 transparent transparent;
  border-style: solid;
  border-width: 15px;
  height: 0px;
  width: 0px;
  position: relative;
  left: -30px;
  top: 65px;
  z-index: -1;
  /* displayed under bubble */ }

.triangle-r {
  border-color: transparent transparent transparent #7d90a3;
  border-style: solid;
  border-width: 15px;
  height: 0px;
  width: 0px;
  position: relative;
  left: 100%;
  top: 35px;
  z-index: -1;
  /* displayed under bubble */ }

.info {
  padding: 50px 25px 25px 25px;
  height: 300px; }
  .info p {
    padding-top: 10px;
    padding-right: 1770px; }

.my_pic {
  float: right; }

h1 {
  padding-left: 80px;
  color: #999; }

#About_Info, #Experience_Info, #Education_Info {
  padding: 50px 25px 25px 25px; }

.About_list, .Exp_list, .Edu_list {
  list-style: circle;
  padding: auto 10px 25px 10px; }
