/*Reset*/
html, body, div, h2, font, img, ul, li, a
{
    margin:0;
    padding:0;
    border:0;
    out-line:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ul
{
    list-style:none;
}
/*Reset*/


body
{
    background:url("img/back.jpg");
}
.container
{
    margin:3.125em auto auto auto;
    width: 56.25em;
}
.menu
{
    position: relative;
    z-index:80;
    top: 1.875em;
    left:3.125em;
}

.menu ul li
{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45 deg);
    overflow:visible;
    float:left;
    background: #7f9db9;
    text-align: right;
    margin: 0.625em 0em;
    padding:0.3125em 0.3125em 0.3125em 1.125em;
    width:6.25em;
}

.menu ul li a
{
    display:block;
    color: #fff;
    text-decoration:none;
}
.menu ul li.l1
{
    background: rgba(131,178,51,0.65);
}
.menu ul li.l1:hover
{
    background:rgb(131, 178, 51);
}

.menu ul li.l2
{
    background:rgba(196,89,30,0.65);
}

.menu ul li.l2:hover
{
    background:rgb(196,89,30);
}

.menu ul li.l3
{
    background: rgba(65,117,160,0.65);
}
.menu ul li.l3:hover
{
    background: rgb(65,117,160);
}
.bubble
{
    clear: both;
    margin: 0px auto;
    width: 56.25em;
    background: #fff;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -khtml-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);	
    position: relative; 
    z-index: 90; /* the stack order: displayed under ribbon rectangle (100) */
    top:30px;
    height: auto:
}
.rectangle
{
    background: #7f9db9;
    height: 50px;
    width: 58.25em;
    position: relative;
    left:-15px;
    top: 30px;
    float: left;
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    z-index: 100; /* the stack order: foreground */
}

.rectangle h2
{
    font-size: 30px;
    color: #fff;
    padding-top: 6px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    text-align: center;
}

.triangle-l
{
    border-color: transparent #7d90a3 transparent transparent;
    border-style:solid;
    border-width:15px;
    height:0px;
    width:0px;
    position: relative;
    left: -30px;
    top: 65px;
    z-index: -1; /* displayed under bubble */
}

.triangle-r
{
    border-color: transparent transparent transparent #7d90a3;
    border-style:solid;
    border-width:15px;
    height:0px;
    width:0px;
    position: relative;
    left: 56.25em;
    top: 35px;
    z-index: -1; /* displayed under bubble */
}

.info
{
    padding: 50px 25px 25px 25px;  
    height: 300px; 
}
.info p
{
    padding-top: 10px ;  
    padding-right: 1770px;
    
}
.my_pic
{
    float:right;
}
/*.back_rectangle
  {
  height: 250px;
  width: 50.25em;
  left:25px;
  //top: 70px;
  position:relative;
  background: rgba(154, 154, 154, 0.35);
  //display:inline;
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55); 
  }*/
h1
{
    /* font-family: 'Frijole', cursive;*/
    padding-left:80px;
    color:#999;
}
#About_Info, #Experience_Info,#Education_Info
{
    padding: 50px 25px 25px 25px;
}
.About_list,.Exp_list,.Edu_list
{
    list-style: circle;
    padding: auto 10px 25px 10px;
}
